{% extends "paginaBase.html" %} 


{% block title %} Licencia de Conducir Nacional {% endblock %}


{% block content %}


    {% if clave %}

        <h3 style="text-align: center; padding-bottom: 5px; padding-left: 5px; margin-top: 77px;">{{mensaje}}</h3>

        <p>Su clave es: {{clave.clave}}</p>

    {% else %}

        {% if mensaje %}
            <h3 style="text-align: center; padding-bottom: 5px; padding-left: 5px; margin-top: 10.6%;">{{mensaje}}</h3>
            
        {% endif %}
    {% endif %}
  
{% endblock %}